.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mobileImage {
  display: none;
}

.subscribeNewsletter {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: fit-content;
  padding: 20px;
  border-radius: 20px;
}

.subscribeNewsletterFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}

.subscribeNewsletter input {
  width: 100%;
  margin: 10px 0px;
}

.subscribeNewsletter ul {
  list-style-type: none;
}

.subscribeNewsletter ul > li {
  display: flex;
  margin: 1em 0;
  gap: 1em;
}

.subscribeNewsletter ul > li::before {
  content: url('./../../public/icon-list.svg');
}

.subscribeNewsletter label {
  font-weight: 700;
}

.subscribeNewsletter button {
  margin: 10px 0px;
  width: 100%;
}

.subscribeNewsletter p {
  margin: 1em 0;
}

.subscribeNewsletter form {
  margin-top: 20px;
}

.emailContainer {
  display: flex;
  flex-wrap: wrap;
}

.emailContainer span {
  margin-left: auto;
}

.errorMessage {
  color: red;
}

@media only screen and (max-width: 800px) {
  .main {
    align-items: start;
  }

  .desktopImage {
    display: none;
  }

  .mobileImage {
    display: block;
  }

  .subscribeNewsletter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 0;
    border-radius: 0px;
  }
  
  .subscribeNewsletter button {
    width: 100%;
  }

  .subscribeNewsletter form {
    display: inline-block;
    margin-top: 20px;
  }

  .subscribeNewsletterFormContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
}