.mobileImage {
  display: none;
}

.subscribeNewsletter {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.subscribeNewsletter input {
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  border: 0.1px solid hsl(231, 7%, 60%);
}

.subscribeNewsletter ul {
  list-style-type: none;
}

.subscribeNewsletter ul > li {
  display: flex;
  margin: 1em 0;
  gap: 1em;
}

.subscribeNewsletter ul > li::before {
  content: url('./../../public/icon-list.svg');
}

.subscribeNewsletter label {
  font-weight: 700;
}

.subscribeNewsletter button {
  margin: 10px 0px;
}

.subscribeNewsletter p {
  margin: 1em 0;
}

@media only screen and (max-width: 600px) {
  .desktopImage {
    display: none;
  }

  .mobileImage {
    display: block;
  }

  .subscribeNewsletter {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
  }
  
  .subscribeNewsletter button {
    width: 100%;
  }

  .subscribeNewsletter form {
    display: inline-block;
    margin-top: 20px;
  }

  .subscribeNewsletterFormContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
}